body {
    margin: 0;
    background: pink;
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 0;
    padding-bottom: 60px; /* Ensure there's space for the footer */
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

h2 {
    text-align: left;
    margin-left: 20px;
    margin-right: 20px; /* Ensure consistent margin on both sides */
}

p {
    text-align: left;
    margin-left: 20px; /* Adds some left margin for better readability */
    margin-right: 20px; /* Ensures consistent margin on both sides */
    width: 70%;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
    width: 100%;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navbar li a:hover {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}

.navbar .about-link {
    float: right;
}
.reward-list {
    text-align: left;
    margin-left: 20px; /* Consistent margin with other elements */
    list-style-type: disc;
    padding-left: 20px; /* Ensures bullets are visible */
    margin-right: 20px; /* Ensures consistent margin on both sides */
}

.image-container {
    position: relative;
    top: 100px; 
    margin-left: 60%; 
    width: 20%; /* Width of the image container */
}

.tetris-image {
    width: 100%; /* Ensure the image takes up its full container width */
    height: auto; /* Maintain aspect ratio */
}

.caption {
    position: absolute;
    bottom: -30px; /* Adjust the distance from the bottom */
    left: 50%; /* Position the left edge of the caption at the center */
    transform: translateX(-50%); /* Center the caption horizontally */
    width: 80%;
    text-align: center; /* Center the caption text */
    color: #fff; /* Caption text color */
    background-color: rgba(0, 0, 0, 0.5); /* Caption background color and opacity */
    padding: 5px; /* Adjust padding as needed */
}

.infobox {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    width: 250px;
    position: absolute;
    right: 20px;
    top: 150px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.infobox h2 {
    margin-top: 0;
}

.infobox-image {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.move-images {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.move {
    text-align: center;
}

.move-image {
    width: 200px;
    height: auto;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    z-index: 10;
}