body {
    margin: 0;
    background: pink;
    text-align: center;
}

h1 {
    text-align: center;

}
h2 {
    text-align: center;
    margin-left: 20px;
}

p {
    text-align: left;
    margin-left: 20px; /* Optional: Adds some left margin for better readability */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
    width: 100%;
}

li {
    float: left;
    display: inline;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}

.tetris-image {
    position: absolute;
    top: 120px; /* Adjust this value to position vertically */
    left: 70%; /* This positions the left edge of the image at the center */
    transform: translateX(-70%); /* This centers the image */
    width: 300px;
    height: auto;
}

.reward-list {
    text-align: left;
    margin-left: 20px;
    list-style-type: disc; /* Use disc instead of circle for more common bullet points */
    padding-left: 20px; /* Add some padding to align the bullets nicely */
}
